## Use It to Train the model

In [1]:
# pip install xgboost

In [2]:
import pandas as pd
from predection_validation_insertion import Predection_Validation_Insertion 
from training_validation_insertion import Training_Validation_Insertion
from Automated_ML import Automated_ML

In [3]:
reg = pd.read_csv("Raw Data/boston1.csv")
cls = pd.read_csv("Raw Data/iris4.csv")
reg.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,NaN,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [4]:
cls.head()

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.1          3.5           1.4          0.2  versicolor
1           5.1          3.5           1.4          0.2  versicolor
2           5.1          3.5           1.3          0.2  versicolor
3           5.1          3.5           1.5          0.2  versicolor
4           5.0          3.5           1.4          0.2  versicolor

In [5]:
reg.shape, cls.shape

((2558, 13), (735, 5))

In [6]:
reg.isnull().sum()

CRIM        0
ZN          3
INDUS       8
CHAS       14
NOX        18
RM         20
AGE         4
DIS        12
RAD        12
TAX        10
PTRATIO    10
B           4
LSTAT       2
dtype: int64

In [7]:
cls.isnull().sum()

sepal_length    15
sepal_width     32
petal_length    21
petal_width      0
species          0
dtype: int64

In [9]:
cls['species'].value_counts()

setosa        357
versicolor    218
virginica     160
Name: species, dtype: int64